.layout {
  display: flex;
}

aside {
    height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  width: 6vw;
  margin: 12px 12px;
}

nav > img {
  height: 100px;
}

a > img {
  height: 68px;
  transition: 0.2s ease;
}

.is-active {
  filter: drop-shadow(0 2px 8px rgb(255, 255, 255));
  transform: scale(1.05);
}

main {
  flex: 1;
}
